{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="card m-auto">
                <img src="{{ post.image.url }}" class="card-img-top">
            <div class="card-body my-2">
                <h2 class="class-title">{{ post.title }}</h2>
                <p class="card-text">{{ post.content }}</p>
            </div>
            <div class="card-footer text-muted">
                    Created at: {{ post.created_at }}
                    Updated On: {{ post.updated_at }}
                    Author: {{ post.author }}
                </div>
        </div>
        </div>
{% endblock %}